html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    background-color: #4B0082;
    width: 100vw;
    justify-content: center;
    position: fixed;
    top: 0;
}

.nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 10px;
}

.nav li {
    margin: 15px;
    font-size: 20px;    
}

.nav a {
    text-decoration: none;
    display: block;
    color: #9D4EDD;
}

.nav a:hover {
    transition: all 300ms ease-in-out;
    color: #F3C4FB;
    background-color: #6A0DAD;
}

.home {
    background-color: #5A189A;
    width: 100vw;
    height: 100vh;
}

.sobre {
    background-color: #3C1361;
    width: 100vw;
    height: 100vh;
}

.contato {
    background-color: #2A0A3D;
    width: 100vw;
    height: 100vh;
}

.home, .sobre, .contato {
    padding-top: 93px;
}

.home-content, .sobre-content, .contato-content {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

