.texto1 {
    box-sizing: content-box;
    background-color: red;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 200px;
    min-width: 0;
    min-height: 100px;
    overflow: auto;
    margin: 0 auto 50px auto;
    padding: 50px;
    border: 5px solid black; 

}

.texto2 {
    box-sizing: border-box;
    background-color: #FFEE8C;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 200px;
    min-width: 0;
    min-height: 100px;
    overflow: auto;
    margin: 0 auto 50px auto;
    padding: 50px;
    border: 5px double black; 

}