* {
    margin: 0;
}

.pai {
    height: 300vh;
}

.filha1, .filha2, .filha3 {
    width: 500px;
    height: 500px;
    margin: 0px;
    position: static;
}

.filha1 {
    background-color: rgba(0, 0, 0, 0.676);
    position: absolute;
    top: 50%;
    margin-top:-250px;
    left: 50%;
    margin-left: -250px;
    z-index: 3;
}

.filha2 {
    left: 55%;
    background-color: brown;
    position: absolute;
    z-index: 1;
}

.filha3 {
    background-color: rgb(238, 130, 238);
    position: fixed;
    top: 50%;
    right: 50%;
    z-index: 2;
    
}

ul {
    height: 100px;
    overflow-y: auto;
}

ul li.sticky {
    background-color: gray;;
    position: sticky;
    top: 20%;
}