html {
    font-size: 62.5%;
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0;
}

a {
    font-size: 3rem;
    color: black;
}

.pai {
    width: 30rem;
    height: 30rem;
    background-color: yellow;
    font-size: 16px;
}

.pai > div {
    width: 50%;
    height: 10rem;
    background-color: blue;
}

.pai h1 {
    font-size: 1em;
}

.pai h2 {
    font-size: 1vmax;
}

.pai h3 {
    font-size: 2vmin;
}

.pai p {
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 25px;
    text-align: justify;
    text-indent: 10px;
    text-shadow: 1px 1px red;
    text-transform: capitalize;
}

.pai2 {
    width: 100vw;
    height: 100vh;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}