

.heading {
    color: violet;
    width: 350px;
}

.heading:hover {
    transition: all 500ms ease-in-out;
    color: maroon;
    background-color: darkgoldenrod;
    cursor: pointer;
    text-decoration: underline;
}

a:link {
    color:firebrick
}

a:visited {
    color: blue;
}

a:active {
    color: white;
    background-color: black;
    text-decoration: none;
}

input:required {
    width: 300px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.8);
    border: 2px solid black
}

input:disabled {
    background-color: red;
    cursor: not-allowed;
}

input.checkbox:checked{
    width: 100px;
    height: 100px;
}

.checkbox:checked + h2 {
    color: green;
}

.pai .lista li:first-child {
    color: brown;
}

p:not(.not) {
    color: red;
}

ul li:nth-child(even) {
    color: red;
}

ul li:nth-child(odd) {
    color: yellowgreen;
}

ul li:nth-child(3n) {
    color: orange;
}

ul li::after {
    content: ' ; ';
}

.lorem {
    font-size: 30px;
}

.lorem::first-letter {
    display: block;
    float: left;
    font-size: 100px;
    margin: 0px 10px 10px 0px;
}

.lorem::first-line {
    background: darkgray;
}

.lorem::selection {
    background-color: black;
    color: white;
}